/* common */
*{margin: 0; padding: 0; box-sizing: border-box; font-family:"맑은고딕";}
ul, ol, li{list-style: none;}
a{text-decoration: none; color: #444;}  

/* footer */
footer{color: #222; font-size: 16px; width: 100%; padding: 20px 0 40px 0; border-top: 1px solid #eee;}
#footer .infoBox {position: relative; width: 1040px; margin: 10px auto 0; color: #999;}
#footer .info {display: block; padding: 0 300px 0 0; background: none; line-height: 1.8; font-size: 14px;}
address {display: block;}
address span {padding: 0 5px; font-size: 11px; vertical-align: top; line-height: 2.3;}