@charset "UTF-8";

header {
	height: 150px;
	text-align: center;
  background-color: #eee;
}
footer {
	height: 150px;
	text-align: center;
  background-color: #eee;
}

* {margin: 0; padding: 0; box-sizing: border-box;}
ul, ol, li {list-style: none;}
a {text-decoration: none; color: #222;}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* clearfix */
.clearfix {*zoom:1;}
.clearfix:before, .clearfix:after {display:block; content: ''; line-height: 0;}
.clearfix:after {clear: both;}

.section {
	width: 1040px;
	margin: auto;
	padding: 10px;
	border: 1px solid #eee;
}


/* -------- 상품 상세 페이지 -------- */

.detailInner {
	display: inline-block;
  width: 100%;
}

/* 이미지 */
.detailInner .imgWrap {
  position: relative;
  float: left;
  width: 500px;
  height: 500px;
  padding: 0;
  border-radius: 12px;
  overflow: hidden;
}

.detailInner .imgWrap::before {
  box-sizing: border-box;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: #000;
  opacity: .04;
}

/* 상품정보 */
.detailInner .txtWrap {
  float: right;
  height: 500px;
  width: 500px;
}

.detailInner .txtWrap .txtWrap-min {
  min-height: 436px;
}

/* 브랜드 로고 */
.detailInner .brandNm {
  line-height: 40px;
}

.detailInner .brandNm .brandImg {
  float: left;
  width: 40px;
  height: 40px;
  margin: 0 8px 0 0;
  padding: 3px;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #eee;
}

.detailInner .brandNm .brandImg .img_brand {
  width: 32px;
  height: 32px;
}

.detailInner .brandNm span {
  display: inline-block;
  text-decoration: underline;
}

/* 상품명 */
.detailInner .itemNm {
  width: 100%;
  margin: 16px 0;
  font-size: 30px;
  font-weight: bold;
  line-height: 35px;
}

/* 가격 */
.detailInner .price {
  width: 100%;
  height: 50px;
  display: inline-block;
  margin-bottom: 30px;
}

.detailInner .itemPrice .price em {
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.15;
  display: inline-block;
  height: 32px;
}

/* 교환처 */
.detailInner .itemInfo {
  padding: 32px 0 24px 0;
  min-height: 58px;
  width: 100%;
  display: inline-block;
  border-top: 1px solid #eee;
}

.detailInner .itemInfo span {
  width: 104px;
  display: inline-block;
  color: #aaa;
  margin-right: 16px;
}

/* 버튼 */
.btnSet {
  display: flex;
  height: 64px;
  width: 100%;
}
.btnSet a {
  display: inline-block;
  float: left;
  margin-left: 8px;
}
.btnSet a:first-child {
  margin-left: 0;
}

.btnSet a:first-child {
  margin-left: 0;
}
.btnSet .btnCart {
  width: 64px;
  height: 64px;
  display: grid;
  border-radius: 4px;
  border: 1px solid #b6b6b6;
  cursor: pointer;
}

.btnSet .btnCart em {
  margin: 0 auto;
  width: 32px;
  height: 64px;
  display: inline-block;
  background-size: 32px;
  background-position: 0 center;
  background-repeat: no-repeat;
  vertical-align: middle;
  background-image: url("../../images/icn_cart_default.png");
}

.btnSet .btnLike {
  width: 64px;
  height: 64px;
  display: grid;
  border-radius: 4px;
  border: 1px solid #ec2028;
  cursor: pointer;
}

.btnSet .btnLike em {
  margin: 0 auto;
  width: 32px;
  height: 64px;
  display: inline-block;
  background-size: 32px;
  background-position: 0 center;
  background-repeat: no-repeat;
  vertical-align: middle;
  background-image: url("../../images/icn_like_default.png");
}

.btnSet .btnLike.likePush em  {
  background-image : url("../../images/icn_like_pressed.png");
}

.btnSet .btnBuy {
  width: 356px;
  height: 64px;
  line-height: 64px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
  color: #fff;
  border-radius: 4px;
  background-color: #ec2028;
}

/* 상품설명 */
.detailInfo {
  padding: 48px 0;
  margin-top: 25px;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: -0.8px;
  border: 1px solid #eee;
}

.detailInfo Strong {
  display: block;
  padding: 5px 0 5px 0;
}

.detailInfo .detailTxt {
  word-wrap: break-word;
  padding: 10px 0 15px 0;
}