<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<typeAliases>
		<typeAlias type="dto.PayingDTO" alias="pay"/>
		 <typeAlias type="dto.BusinessDTO" alias="BusinessDTO" />
   		 <typeAlias type="dto.ItemDTO" alias="ItemDTO" />
   		 <typeAlias type="dto.QnaDTO" alias="QnaDTO" />
    	<typeAlias type="dto.ReplyDTO" alias="ReplyDTO" />
    	 <typeAlias type="dto.ItemDTO" alias="item" />
   		 <typeAlias type="dto.CategoryDTO" alias="CategoryDTO" />
		<typeAlias type="dto.MemberDTO" alias="member"/> 
		<typeAlias type="dto.UserQnaDTO" alias="UserQnaDTO" />
		<typeAlias type="dto.CartDTO" alias="CartDTO" />
    <typeAlias type="dto.WishDTO" alias="WishDTO" />
    <typeAlias type="dto.CartItemDTO" alias="CartItemDTO" />
    <typeAlias type="dto.WishItemDTO" alias="WishItemDTO" />
    <typeAlias type="dto.ItemImagefileDTO" alias="ItemImagefileDTO" />
	</typeAliases>
	
<mappers>
	<mapper resource="config/mybatis/mapper/pay.xml" /> 
	<mapper resource="/config/mybatis/mapper/buMemberMapper.xml" />
    <mapper resource="/config/mybatis/mapper/buBoardMapper.xml" />
    <mapper resource="/config/mybatis/mapper/buItemMapper.xml" />
    <mapper resource="config/mybatis/mapper/main.xml" />
    <mapper resource="config/mybatis/mapper/item.xml" />
    <mapper resource="config/mybatis/mapper/member.xml" />
    <mapper resource="config/mybatis/mapper/userQna.xml" />
    <mapper resource="config/mybatis/mapper/wishCart.xml" />
</mappers>
</configuration>