/* common */
body{margin: 0; padding: 0; box-sizing: border-box; height: 100%; display: flex; flex-direction: column; margin-top: auto;}
ul, ol, li{list-style: none;}
a{text-decoration: none; color: #444;}

main{min-height: 900px;}
.content{width: 100%; padding: 70px 0;}
.inner{width: 1170px; margin: 0 auto;}

/* sub-menu */
.subMenu{display: flex; justify-content: space-between; margin-bottom: 35px;} 
.subMenu .tab{position: relative; display: flex; width: 100%; height: 40px; font-weight: bold;}  
.subMenu .tab > li > .menuBtn{
    width: 200px; height: 40px; font-size: 16px; font-weight: bold; 
    background-color: rgb(224, 232, 238); border-radius: 3px; border: 1px solid rgb(101, 101, 51);
}
.subMenu .tab > li > .menuBtn:hover{background-color: rgb(118, 39, 116); cursor: pointer; color: #ddd; transition: 0.3s;}

/* board(MyInquiry) */
.titleBox{display: flex; justify-content: space-between; margin-bottom: 10px;} 
.title{left: 20px; font: bold 17px 'inherit';}
.title > a{left: 100px; font-size:21px; color: red;}

/* table */
.board table{width: 100%; border-spacing: 2px; border-collapse: collapse; text-align: center; text-indent: initial;}
.board table tr th{background-color: rgb(213, 224, 237); height: 42px; padding: 0.75rem;}
.board table tr td{
    background-color: #fbfbfb; border-bottom: 1px solid black; font: 16px 'inherit'; 
    color: #232323; vertical-align: top; height: 40px; padding: 0.75rem 0.75rem 0 0.75rem;
}
.board table col:nth-of-type(1){width: 100px;}
.board table col:nth-of-type(2){width: 150px;}
.board table col:nth-of-type(3){}
.board table col:nth-of-type(4){width: 120px;}
.board table col:nth-of-type(5){width: 200px;}

.board table .subjectTd{text-align: left;}
.board table .subjectTd .subjectBox > p{margin: 0;}
.board table .subject:hover{text-decoration: underline; cursor: pointer; font-weight: bold;}
.myInquiry{float: top; position: relative; display: none; width: 100%; margin-top: 10px; background-color: rgb(244, 241, 241);} 
.myInquiry > p{font: inherit; font-size: 15px; letter-spacing: 0.1px;}   
.active{display: block;}

/* closeButton */
#closeMyInquiry{
    display: flex; float: right; background-color: #726996; border: none; color:#fff; 
    cursor: pointer; padding: 9px 25px;  border-radius: 3px; margin-top: 12px;
}
#closeMyInquiry:hover{background-color: gold; color: #000; transition: all 0.5s;}

/* pageNo */
.boxWrap{width: 100%; height: 100px; }
.pageNoBox{text-align: center; vertical-align: middle;}
