@charset "UTF-8";


/*회원가입테이블 전체 배치*/
#join_table{
	/*width: 50%;*/
	margin:20px auto;
	margin-top:280px;
	display:block;
	background: #dfffff;
	width:400px;
	border-radius:10px;
}

/* 회원가입 텍스트*/
#member_insert_title{
	font-size:200%;
	padding:2%;
	display:block;
	font-weight: bold;
}

/*회원가입 각 창 근처 텍스트*/
.member_insert_intro_text{
	font-size:100%;
	padding:2%;
	display:block;
	font-weight: bold;
	margin-left: 20px;
}

.join_col_style{
	
	
}

/*회원정보 입력창*/
.member_join_text{
	font-size:100%;
	padding: 10px;
	border:0px;
	width: 320px;
	border-radius: 10px;
	margin-left: 20px;
}

/*아이디 중복확인*/
.member_insert_id_check{
    /* background: none; */
    border:0px;
    margin-left: 20px;
    background-color: #48D1CC;
    font-size: 16px;
    border-radius: 4px;
    padding: 4px;
    margin-top: 10px;
	cursor: pointer;
	font-weight:bold;
	color:white;
}

/* 회원가입 버튼 */
.member_insert_select_detail{
	width:84%; height:60%;
  	font-size:140%;
  	background-color:#48D1CC;
  	color:white;
  	border-radius:2%;
  	border:0px;
  	cursor: pointer;
  	margin-left: 8%;
  	border-radius: 6px;
  	padding:2px;
  	margin-top:40px;
  	margin-bottom:40px;
  	font-weight: bold;
  	width: 335px;
}

#searched_member_id_for_join{
	margin-left: 20px;
	
}