@charset "UTF-8";

/* 헤더 */

#header {
	position: relative;
	padding: 15px 0 20px 0;
	border-bottom: 1px solid #eee;
	height: 124px;
	z-index: 2;
}

#header .inner-wrap {
	width: 1040px;
	margin: 0 auto;
	position: relative;
}

#header .top-menu {
	float: right;
	overflow: hidden;
	font-size: 0;
	margin: 0 0 20px 0;
	height: 25px;
}

#header .top-menu a {
	display: inline-block;
	position: relative;
	padding: 0 8px;
	font-size: 12px;
	color: #222;
	vertical-align: middle;
}

#header .header-wrap {
	clear: both;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#header h1 {
	background-position: center center;
 	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='140' height='36' viewBox='0 0 140 36'%3E%3Cdefs%3E%3CclipPath id='ysds902e9a'%3E%3Cpath style='fill:none' d='M0 0h140v36H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg style='clip-path:url(%23ysds902e9a)'%3E%3Cpath d='M5.015 40.9a18.52 18.52 0 0 1-2.4-.4 1.235 1.235 0 0 1-.815-1.28v-2.24a18.24 18.24 0 0 0 5.6.878 5.381 5.381 0 0 0 3.663-1.011 4.583 4.583 0 0 0 1.185-3.564v-.926a7.848 7.848 0 0 1-1.964.755 10.418 10.418 0 0 1-2.317.235c-2.663 0-4.669-.76-6-2.3C.66 29.5 0 27.244 0 24.22a12.172 12.172 0 0 1 1.142-5.573 8.215 8.215 0 0 1 3.291-3.539A9.006 9.006 0 0 1 9.1 13.883a23.21 23.21 0 0 1 6.776.952v18.6c0 2.686-.674 4.588-2.05 5.819-1.358 1.252-3.336 1.815-6.044 1.815a25.5 25.5 0 0 1-2.767-.169M10.3 29.814a5.431 5.431 0 0 0 1.944-.84V17.506a13.5 13.5 0 0 0-2.98-.278 5.182 5.182 0 0 0-4.023 1.694c-1.03 1.155-1.528 2.916-1.528 5.3 0 2.078.377 3.571 1.183 4.491a4.079 4.079 0 0 0 3.187 1.4 7.754 7.754 0 0 0 2.217-.3' transform='translate(0 -5.067)' style='fill:%23ec2028'/%3E%3Cpath d='M32.1 3.531h3.073v2.932a.76.76 0 0 1-.828.869h-2.989V4.394c0-.585.241-.863.746-.863m.18 6.92h2.786V29.4c0 .622-.267.928-.873.928h-2.766V11.38c0-.638.315-.928.853-.928' transform='translate(-11.502 -1.289)' style='fill:%23ec2028'/%3E%3Cpath d='M42.227 12.37V10.2a1.115 1.115 0 0 1 .267-.787.907.907 0 0 1 .674-.247h2.062V7.424c0-2.489.482-4.26 1.422-5.315a4.962 4.962 0 0 1 4-1.65 22.9 22.9 0 0 0 2.53-.106A3.913 3.913 0 0 0 54.477 0v2.543a.875.875 0 0 1-.614.92 7.682 7.682 0 0 1-2.512.25 2.064 2.064 0 0 0-1.857.877 4.914 4.914 0 0 0-.61 2.855v1.717h1.106c1.033 0 1.884-.02 2.571-.083a4.03 4.03 0 0 0 1.665-.441v2.276c0 .563-.32.931-.96 1.161a13.821 13.821 0 0 1-3.379.294h-1v15.744a.811.811 0 0 1-.914.928H45.23V12.37z' transform='translate(-15.489)' style='fill:%23ec2028'/%3E%3Cpath d='M68.149 30.588a5.839 5.839 0 0 1-1.349-4.279V14.8h-2.96v-2.28c0-.638.341-.928.97-.928h1.99V7.634c0-.638.317-.975.9-.975h2.755v4.934h2.455a6.675 6.675 0 0 0 2.992-.524v2.276a1.168 1.168 0 0 1-.842 1.15 7.428 7.428 0 0 1-2.333.305h-2.271v10.818a3.322 3.322 0 0 0 .583 2.256 2.475 2.475 0 0 0 2.05.712 8.537 8.537 0 0 0 2.943-.494v2.2a1.055 1.055 0 0 1-.85 1.108 8.592 8.592 0 0 1-3.112.481 5.569 5.569 0 0 1-3.921-1.29' transform='translate(-23.419 -2.43)' style='fill:%23ec2028'/%3E%3Cpath d='M88.094 3.531h3.065v2.932c0 .553-.251.869-.819.869h-3.009V4.394c0-.585.255-.863.763-.863m.177 6.92h2.784V29.4c0 .622-.284.928-.869.928h-2.78V11.38c0-.638.282-.928.866-.928' transform='translate(-32.034 -1.289)' style='fill:%23ec2028'/%3E%3Cpath d='M101.42 34.113a6.767 6.767 0 0 1-2-.712 1.338 1.338 0 0 1-.914-1.259l.043-2.241a12.251 12.251 0 0 0 5.521 1.22 4.27 4.27 0 0 0 2.637-.665 2.076 2.076 0 0 0 .865-1.824 2.577 2.577 0 0 0-.538-1.709 5.574 5.574 0 0 0-1.945-1.183l-1.812-.658a7.963 7.963 0 0 1-3.472-2.2 5.077 5.077 0 0 1-1.122-3.491c0-3.532 2.381-5.264 7.152-5.264a10.5 10.5 0 0 0 4.161-.524v2.677c0 .75-1.345 1.1-4.057 1.1a5.176 5.176 0 0 0-2.644.5 1.665 1.665 0 0 0-.915 1.6 2.094 2.094 0 0 0 .523 1.424 4.4 4.4 0 0 0 1.8 1.033l1.752.654a9.34 9.34 0 0 1 3.6 2.216 5.226 5.226 0 0 1 1.227 3.673 5.468 5.468 0 0 1-1.839 4.425 8.684 8.684 0 0 1-5.522 1.506 11.458 11.458 0 0 1-2.5-.3' transform='translate(-36.132 -4.965)' style='fill:%23ec2028'/%3E%3Cpath d='M123.287 1.7c.229-.638.568-.974 1.111-.974h2.84a11.679 11.679 0 0 0-.569 4.229v5.738a8.416 8.416 0 0 1 2.423-1.135 9 9 0 0 1 2.785-.476 6.538 6.538 0 0 1 4.728 1.649c1.123 1.066 1.691 2.739 1.691 5.017V28.48a.721.721 0 0 1-.821.825h-2.831V16.51a5 5 0 0 0-.764-3.088 2.854 2.854 0 0 0-2.45-1 8.828 8.828 0 0 0-4.76 1.581v14.435c0 .583-.325.867-.947.867H123V5.107a13.7 13.7 0 0 1 .284-3.41' transform='translate(-45.119 -.264)' style='fill:%23ec2028'/%3E%3Cpath d='M153.764 32.025c-1.439-1.633-2.169-4.219-2.169-7.8 0-6.857 2.81-10.337 8.449-10.337 5.676 0 8.482 3.48 8.482 10.337 0 3.586-.731 6.172-2.2 7.8-1.434 1.68-3.515 2.489-6.284 2.489s-4.845-.809-6.28-2.489m9.89-2.436c.776-1.055 1.15-2.884 1.15-5.368s-.375-4.294-1.15-5.364a4.777 4.777 0 0 0-7.185 0c-.774 1.07-1.145 2.892-1.145 5.364s.371 4.314 1.145 5.368a4.819 4.819 0 0 0 7.185 0' transform='translate(-55.607 -5.068)' style='fill:%23ec2028'/%3E%3Cpath d='M184.621 34.082a1.574 1.574 0 0 1-.434-.911l-4.012-17.478-.083-.508c0-.525.234-.756.775-.756h2.557l2.711 12.533.7 4.283.776-4.283L190 15.463a1.389 1.389 0 0 1 .374-.825 1.829 1.829 0 0 1 1.03-.21h2.5a1.66 1.66 0 0 1 .929.179 1.562 1.562 0 0 1 .434.855l2.424 11.5.733 4.283c.063-.551.2-1.328.42-2.4l.328-1.883 2.214-10.449a2.73 2.73 0 0 1 .735-1.537 1.736 1.736 0 0 1 1.358-.547h2.589a5.667 5.667 0 0 0-1.526 2.913L201.2 33.171a2.106 2.106 0 0 1-.512.911 1.82 1.82 0 0 1-.985.225h-2.487a2.01 2.01 0 0 1-1.014-.225 1.793 1.793 0 0 1-.467-.911L192.594 17.6l-3.112 15.571a1.523 1.523 0 0 1-.4.911 1.893 1.893 0 0 1-1.047.225h-2.438a1.535 1.535 0 0 1-.973-.225' transform='translate(-66.06 -5.267)' style='fill:%23ec2028'/%3E%3C/g%3E%3C/svg%3E%0A")	
}

#header h1 a {
	display: block;
	width: 140px;
	height: 36px;
}

.util-wrap {
	display: flex;
	align-items: center;
}

.util-menu a {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-left: 8px;
}

.util-menu .myIcon {
	background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg%3E%3Cpath style='fill:none' d='M0 0h40v40H0z'/%3E%3Cpath d='M297.814 408.154c0 4.3-4.05 7-9.009 7s-8.991-2.7-8.991-7' transform='rotate(180 154.406 219.077)' style='stroke-linejoin:round;stroke-miterlimit:10;stroke:%23222;stroke-linecap:round;stroke-width:2px;fill:none'/%3E%3Cpath d='M294.879 413.484a5 5 0 1 1-5 5 5 5 0 0 1 5-5z' transform='translate(-275.306 -404.48)' style='fill-rule:evenodd;stroke:%23222;stroke-linecap:round;stroke-width:2px;fill:none'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.util-menu .cartIcon {
	background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cpath style='fill:none' d='M0 0h40v40H0z'/%3E%3Cg transform='translate(-627 -1390)'%3E%3Cpath d='M3 0 0 3l3 3' transform='rotate(-90 1022.5 378.5)' style='stroke-linejoin:round;stroke-linecap:round;fill-rule:evenodd;stroke:%23222;stroke-width:2px;fill:none'/%3E%3Crect width='20' height='18' rx='2' transform='translate(637 1402)' style='stroke-linejoin:round;stroke:%23222;stroke-width:2px;fill:none'/%3E%3Cpath d='M1493-48v18' transform='translate(-846 1450)' style='stroke:%23222;stroke-width:2px;fill:none'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.util-menu .wishIcon {
  background-position: center center;
  background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' width='28px' height='28px' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.999 3.567c0.98 0 2.753 0.469 5.628 3.301l1.425 1.403 1.404-1.426c1.996-2.028 4.12-3.288 5.543-3.288 1.919 0 3.432 0.656 4.907 2.128 1.39 1.386 2.156 3.23 2.156 5.191 0.001 1.962-0.764 3.807-2.169 5.209-0.114 0.116-6.156 6.634-11.218 12.097-0.238 0.227-0.511 0.26-0.656 0.26-0.143 0-0.412-0.032-0.65-0.253-1.233-1.372-10.174-11.313-11.213-12.351-1.391-1.388-2.157-3.233-2.157-5.194s0.766-3.804 2.158-5.192c1.353-1.352 2.937-1.885 4.842-1.885zM8.999 1.567c-2.392 0-4.5 0.715-6.255 2.469-3.659 3.649-3.659 9.566 0 13.217 1.045 1.045 11.183 12.323 11.183 12.323 0.578 0.578 1.336 0.865 2.093 0.865s1.512-0.287 2.091-0.865c0 0 11.090-11.97 11.208-12.089 3.657-3.652 3.657-9.57 0-13.219-1.816-1.813-3.845-2.712-6.319-2.712-2.364 0-5 1.885-6.969 3.885-2.031-2-4.585-3.874-7.031-3.874v0z'%3E%3C/path%3E%3C/svg%3E");
}
