    <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"[]>
<mapper namespace="buMember">
  <insert id="buRegister" parameterType="BusinessDTO">
 insert into business(bu_no, bu_id, bu_pwd, bu_name, bu_address, bu_email, bu_phone)
 values(seq_bu_no.nextval, #{bu_id}, #{bu_pwd}, #{bu_name}, #{bu_address}, #{bu_email}, #{bu_phone})
</insert>
  <select id="buLogin" resultType="BusinessDTO" parameterType="java.util.HashMap">
select * from business
where bu_id=#{bu_id} and bu_pwd=#{bu_pwd}
</select>
  <!-- idCheck -->
  <select id="buIdCheck" resultType="BusinessDTO" parameterType="String">
select bu_id from business
where bu_id=#{bu_id}
</select>
  <select id="buOne" resultType="BusinessDTO" parameterType="int">
select * from business
where bu_no=#{bu_no}
</select>
</mapper>